:host {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr) );
    gap: 20px;
    justify-content: space-evenly;
    grid-template-rows: auto;
}

.ruleset-card {

    > mat-card-title {
        text-align: center;
    }

    > mat-card-content {
        display: grid;
        grid-auto-flow: row;
        justify-content: space-between;

        > .description {
            
        }
    
        > .meta-data {
            font-size: 0.8em;
            align-self: end;
        }
    }
}