
<div *ngIf="(rulesets$ | async) as rulesets; else loading" class="rulesets-container">
    <div class="ruleset-card new" [routerLink]="['new']" [@cardInAnimation]>
        <mat-icon>add</mat-icon>
    </div>
    <div *ngFor="let ruleset of rulesets" class="ruleset-card" [routerLink]="[ruleset.rulesetId, 'edit']" [@cardInAnimation]>
        <h2 class="title">{{ ruleset.name }}</h2>
        <div class="content">
            <p class="description" ovideEllipsis>{{ ruleset.description }}</p>
            <div class="meta-data">{{ ruleset.createdAt | date }}, {{ ruleset.createdBy }}</div>
        </div>
    </div>
</div>

<ng-template #loading>
    <div class="spinner-container">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>
