@use '~@angular/material/theming';

@mixin rulesets-overview-theme($theme) {

    $primary: map-get($theme, primary);

    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);
    
    
    .ruleset-card {
        margin: 2px;
        border-radius: 15px;
        padding: 0;
        box-shadow: 0 4px 2px -1px rgba(0, 0, 0, 0.2);
        background-color: theming.mat-color($background, card);
        transition: box-shadow 0.2s,
        margin 0.2s;
    
        &.new {
            display: flex;
            justify-content: center;
            align-items: center;
    
            mat-icon {
                $add-size: 100px;
                width: $add-size;
                height: $add-size;
                font-size: $add-size;
            }
        }
    
        .title {
            font-weight: lighter;
            border-radius: 15px 15px 0 0;
            padding: 0.7em 3em 0.5em;
            margin: 0;
            background-color: theming.mat-color($background, status-bar);
    
            white-space: nowrap;
            overflow: hidden;
            text-align: center;
            text-overflow: ellipsis;

            transition: color 0.5s, text-shadow 0.5s;
        }
    
        .content {
    
            .description {
                height: 40px;
                margin: 3em 3em 1em;
                text-align: center;
            }
    
            .meta-data {
                font-size: .85em;
                margin: 2em 3em 1.5em;
                text-align: center;
            }
        }
    }
    
    .ruleset-card:hover {
        cursor: pointer;
        box-shadow: 0 3px 13px 7px rgba(0, 0, 0, 0.2);
        margin: 0 4px 4px 0;
    
        .title {
            color: theming.mat-color($primary);
            text-shadow: 0 0 2px theming.mat-color($primary);
        }
    }
}


:host {
    box-sizing: border-box;
    margin: 50px;
    width: calc(100% - 100px);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 50px;
    justify-content: space-evenly;
    grid-template-rows: auto;
}

