<form [formGroup]="form">
<h1 mat-dialog-title>{{ title }}</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-button-toggle-group name="type" aria-label="attribute type">
    <mat-button-toggle value="string">string</mat-button-toggle>
    <mat-button-toggle value="number">number</mat-button-toggle>
    <mat-button-toggle value="boolean">boolean</mat-button-toggle>
  </mat-button-toggle-group>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-button [mat-dialog-close]="attribute" cdkFocusInitial>Save</button>
</div>
</form>
