
// theme variable declaration (assign css var to scss var)
$--attribute-type-string: --attribute-type-string;
$--attribute-type-number: --attribute-type-number;
$--attribute-type-boolean: --attribute-type-boolean;
$--attribute-type-collection: --attribute-type-collection;
$--attribute-type-object: --attribute-type-object;

// material design primay
$--ovide-mat-primary-50: --ovide-mat-primary-50;
$--ovide-mat-primary-100: --ovide-mat-primary-100;
$--ovide-mat-primary-200: --ovide-mat-primary-200;
$--ovide-mat-primary-300: --ovide-mat-primary-300;
$--ovide-mat-primary-400: --ovide-mat-primary-400;
$--ovide-mat-primary-500: --ovide-mat-primary-500;
$--ovide-mat-primary-600: --ovide-mat-primary-600;
$--ovide-mat-primary-700: --ovide-mat-primary-700;
$--ovide-mat-primary-800: --ovide-mat-primary-800;
$--ovide-mat-primary-900: --ovide-mat-primary-900;
$--ovide-mat-primary-A100: --ovide-mat-primary-A100;
$--ovide-mat-primary-A200: --ovide-mat-primary-A200;
$--ovide-mat-primary-A400: --ovide-mat-primary-A400;
$--ovide-mat-primary-A700: --ovide-mat-primary-A700;

$--ovide-mat-primary-contrast-50: --ovide-mat-primary-contrast-50;
$--ovide-mat-primary-contrast-100: --ovide-mat-primary-contrast-100;
$--ovide-mat-primary-contrast-200: --ovide-mat-primary-contrast-200;
$--ovide-mat-primary-contrast-300: --ovide-mat-primary-contrast-300;
$--ovide-mat-primary-contrast-400: --ovide-mat-primary-contrast-400;
$--ovide-mat-primary-contrast-500: --ovide-mat-primary-contrast-500;
$--ovide-mat-primary-contrast-600: --ovide-mat-primary-contrast-600;
$--ovide-mat-primary-contrast-700: --ovide-mat-primary-contrast-700;
$--ovide-mat-primary-contrast-800: --ovide-mat-primary-contrast-800;
$--ovide-mat-primary-contrast-900: --ovide-mat-primary-contrast-900;
$--ovide-mat-primary-contrast-A100: --ovide-mat-primary-contrast-A100;
$--ovide-mat-primary-contrast-A200: --ovide-mat-primary-contrast-A200;
$--ovide-mat-primary-contrast-A400: --ovide-mat-primary-contrast-A400;
$--ovide-mat-primary-contrast-A700: --ovide-mat-primary-contrast-A700;

// material design accent
$--ovide-mat-accent-50: --ovide-mat-accent-50;
$--ovide-mat-accent-100: --ovide-mat-accent-100;
$--ovide-mat-accent-200: --ovide-mat-accent-200;
$--ovide-mat-accent-300: --ovide-mat-accent-300;
$--ovide-mat-accent-400: --ovide-mat-accent-400;
$--ovide-mat-accent-500: --ovide-mat-accent-500;
$--ovide-mat-accent-600: --ovide-mat-accent-600;
$--ovide-mat-accent-700: --ovide-mat-accent-700;
$--ovide-mat-accent-800: --ovide-mat-accent-800;
$--ovide-mat-accent-900: --ovide-mat-accent-900;
$--ovide-mat-accent-A100: --ovide-mat-accent-A100;
$--ovide-mat-accent-A200: --ovide-mat-accent-A200;
$--ovide-mat-accent-A400: --ovide-mat-accent-A400;
$--ovide-mat-accent-A700: --ovide-mat-accent-A700;

$--ovide-mat-accent-contrast-50: --ovide-mat-accent-contrast-50;
$--ovide-mat-accent-contrast-100: --ovide-mat-accent-contrast-100;
$--ovide-mat-accent-contrast-200: --ovide-mat-accent-contrast-200;
$--ovide-mat-accent-contrast-300: --ovide-mat-accent-contrast-300;
$--ovide-mat-accent-contrast-400: --ovide-mat-accent-contrast-400;
$--ovide-mat-accent-contrast-500: --ovide-mat-accent-contrast-500;
$--ovide-mat-accent-contrast-600: --ovide-mat-accent-contrast-600;
$--ovide-mat-accent-contrast-700: --ovide-mat-accent-contrast-700;
$--ovide-mat-accent-contrast-800: --ovide-mat-accent-contrast-800;
$--ovide-mat-accent-contrast-900: --ovide-mat-accent-contrast-900;
$--ovide-mat-accent-contrast-A100: --ovide-mat-accent-contrast-A100;
$--ovide-mat-accent-contrast-A200: --ovide-mat-accent-contrast-A200;
$--ovide-mat-accent-contrast-A400: --ovide-mat-accent-contrast-A400;
$--ovide-mat-accent-contrast-A700: --ovide-mat-accent-contrast-A700;

// material design etc.
$--ovide-mat-is-dark: --ovide-mat-is-dark;
$--ovide-mat-primary-text: --ovide-mat-primary-text;
$--ovide-mat-secondary-text: --ovide-mat-secondary-text;
$--ovide-mat-disabled-text: --ovide-mat-disabled-text;
$--ovide-mat-dividers: --ovide-mat-dividers;
$--ovide-mat-focused: --ovide-mat-focused;