@import 'variables';
@import 'mixins';

$light-theme: (
    $--attribute-type-string:       #87CEFA,
    $--attribute-type-number:       #9ACD32,
    $--attribute-type-boolean:      #F08080,
    $--attribute-type-collection:   #FFD700,
    $--attribute-type-object:       #FF6347,
    $--attribute-button:            #A9A9A9,
    $--editor-type-string:          #68A2CD,
    $--editor-type-number:          #80AF2E,
    $--editor-type-boolean:         #D76C6C,
    $--editor-keyword:              #8C8C8C,
    $--editor-error:                #AC1E2B,
    $--editor-variable:             #C79F00,
    $--editor-comment:              #38A519,
    $--editor-background:           #D4D4D4,
    $--editor-lineHighlightBorder:  #9E9E9E10,
    $--editor-selectionBackground:  #ADD6FF,
    $--navbar-background:   #BFBFBF,
    $--navbar-foreground:   #7A7A7A,
    $--navbar-active:       #56DEFC,
    $--navbar-shadow:       rgba(white, 0.2),
    $--ruleset-card-background-header:  #A6A6A6,
    $--ruleset-card-background-body:    #FFFFFF,
    $--ruleset-card-foreground-header:  #EFEFEF,
    $--ruleset-card-foreground-body:    #858585,
    $--ruleset-card-hover-title:        #60D5EF,
    $--ruleset-card-hover-shadow:       rgba(black, 0.2),
    $--ruleset-card-shadow:             rgba(black, 0.2),
    $--ovide-mat-is-dark:    false,
    $--ovide-mat-primary-50:     #F0FAFD,
    $--ovide-mat-primary-100:    #DBF2FB,
    $--ovide-mat-primary-200:    #C3EAF9,
    $--ovide-mat-primary-300:    #AAE2F6,
    $--ovide-mat-primary-400:    #98DBF4,
    $--ovide-mat-primary-500:    #86D5F2,
    $--ovide-mat-primary-600:    #7ED0F0,
    $--ovide-mat-primary-700:    #73CAEE,
    $--ovide-mat-primary-800:    #69C4EC,
    $--ovide-mat-primary-900:    #56BAE8,
    $--ovide-mat-primary-A100:   #C3EAF9,
    $--ovide-mat-primary-A200:   #C3EAF9,
    $--ovide-mat-primary-A400:   #98DBF4,
    $--ovide-mat-primary-A700:   #73CAEE,
    $--ovide-mat-primary-contrast-50:    rgba(black, 0.87),
    $--ovide-mat-primary-contrast-100:   rgba(black, 0.87),
    $--ovide-mat-primary-contrast-200:   rgba(black, 0.87),
    $--ovide-mat-primary-contrast-300:   rgba(black, 0.87),
    $--ovide-mat-primary-contrast-400:   rgba(black, 0.87),
    $--ovide-mat-primary-contrast-500:   rgba(black, 0.87),
    $--ovide-mat-primary-contrast-600:   rgba(black, 0.87),
    $--ovide-mat-primary-contrast-700:   rgba(black, 0.87),
    $--ovide-mat-primary-contrast-800:   rgba(black, 0.87),
    $--ovide-mat-primary-contrast-900:   rgba(black, 0.87),
    $--ovide-mat-primary-contrast-A100:  rgba(black, 0.87),
    $--ovide-mat-primary-contrast-A200:  rgba(black, 0.87),
    $--ovide-mat-primary-contrast-A400:  rgba(black, 0.87),
    $--ovide-mat-primary-contrast-A700:  rgba(black, 0.87),
    $--ovide-mat-accent-50:     white,
    $--ovide-mat-accent-100:    white,
    $--ovide-mat-accent-200:    white,
    $--ovide-mat-accent-300:    white,
    $--ovide-mat-accent-400:    white,
    $--ovide-mat-accent-500:    white,
    $--ovide-mat-accent-600:    white,
    $--ovide-mat-accent-700:    white,
    $--ovide-mat-accent-800:    white,
    $--ovide-mat-accent-900:    white,
    $--ovide-mat-accent-A100:   white,
    $--ovide-mat-accent-A200:   white,
    $--ovide-mat-accent-A400:   white,
    $--ovide-mat-accent-A700:   white,
    $--ovide-mat-accent-contrast-50:     rgba(black, 0.87),
    $--ovide-mat-accent-contrast-100:    rgba(black, 0.87),
    $--ovide-mat-accent-contrast-200:    rgba(black, 0.87),
    $--ovide-mat-accent-contrast-300:    rgba(black, 0.87),
    $--ovide-mat-accent-contrast-400:    rgba(black, 0.87),
    $--ovide-mat-accent-contrast-500:    rgba(black, 0.87),
    $--ovide-mat-accent-contrast-600:    rgba(black, 0.87),
    $--ovide-mat-accent-contrast-700:    rgba(black, 0.87),
    $--ovide-mat-accent-contrast-800:    rgba(black, 0.87),
    $--ovide-mat-accent-contrast-900:    rgba(black, 0.87),
    $--ovide-mat-accent-contrast-A100:   rgba(black, 0.87),
    $--ovide-mat-accent-contrast-A200:   rgba(black, 0.87),
    $--ovide-mat-accent-contrast-A400:   rgba(black, 0.87),
    $--ovide-mat-accent-contrast-A700:   rgba(black, 0.87),
    $--ovide-mat-foreground-base:             black,
    $--ovide-mat-foreground-divider:          rgba(black, 0.12),
    $--ovide-mat-foreground-dividers:         rgba(black, 0.12),
    $--ovide-mat-foreground-disabled:         rgba(black, 0.38),
    $--ovide-mat-foreground-disabled-button:  rgba(black, 0.26),
    $--ovide-mat-foreground-disabled-text:    rgba(black, 0.38),
    $--ovide-mat-foreground-hint-text:        rgba(black, 0.38),
    $--ovide-mat-foreground-secondary-text:   rgba(black, 0.54),
    $--ovide-mat-foreground-icon:             #6A6A6A,
    $--ovide-mat-foreground-icons:            #6A6A6A,
    $--ovide-mat-foreground-text:             rgba(black, 0.87),
    $--ovide-mat-foreground-slider-min:       rgba(black, 0.87),
    $--ovide-mat-foreground-slider-off:       rgba(black, 0.26),
    $--ovide-mat-foreground-slider-off-active:rgba(black, 0.38),
    $--ovide-mat-background-status-bar:                #BFBFBF,
    $--ovide-mat-background-app-bar:                   #BFBFBF,
    $--ovide-mat-background-background:                linear-gradient(to top left, #C4C4C4, #E0E0E0),
    $--ovide-mat-background-hover:                     rgba(black, 0.04),
    $--ovide-mat-background-card:                      white,
    $--ovide-mat-background-dialog:                    white,
    $--ovide-mat-background-disabled-button:           rgba(black, 0.12),
    $--ovide-mat-background-raised-button:             white,
    $--ovide-mat-background-focused-button:            rgba(black, 0.12),
    $--ovide-mat-background-selected-button:           #e0e0e0,
    $--ovide-mat-background-selected-disabled-button:  #9e9e9e,
    $--ovide-mat-background-disabled-button-toggle:    #eeeeee,
    $--ovide-mat-background-unselected-chip:           #e0e0e0,
    $--ovide-mat-background-disabled-list-option:      #eeeeee,
    $--ovide-mat-background-tooltip:                   #616161,
);

$dark-theme: (
    $--attribute-type-string:       #87CEFA,
    $--attribute-type-number:       #9ACD32,
    $--attribute-type-boolean:      #F08080,
    $--attribute-type-collection:   #FFD700,
    $--attribute-type-object:       #FF6347,
    $--attribute-button:            #808080,
    $--editor-type-string:          #87CEFA,
    $--editor-type-number:          #9ACD32,
    $--editor-type-boolean:         #F08080,
    $--editor-keyword:              #9E9E9E,
    $--editor-error:                #EB5D56,
    $--editor-variable:             #FFD700,
    $--editor-comment:              #38A519,
    $--editor-background:           #4A4A4A,
    $--editor-lineHighlightBorder:  #9E9E9E10,
    $--editor-selectionBackground:  #264F78,
    $--navbar-background:   hsl(0, 0%, 15%),
    $--navbar-foreground:   hsl(0, 0%, 35%),
    $--navbar-active:       #86D5F2,
    $--navbar-shadow:       rgba(white, 0.2),
    $--ruleset-card-background-header:  hsl(0, 0%, 35%),
    $--ruleset-card-background-body:    hsl(0, 0%, 25%),
    $--ruleset-card-foreground-header:  #B8B8B8,
    $--ruleset-card-foreground-body:    #797979,
    $--ruleset-card-hover-title:        #86D5F2,
    $--ruleset-card-hover-shadow:       rgba(black, 0.2),
    $--ruleset-card-shadow:             rgba(black, 0.2),
    $--ovide-mat-is-dark: true,
    $--ovide-mat-primary-50:     #F0FAFD,
    $--ovide-mat-primary-100:    #DBF2FB,
    $--ovide-mat-primary-200:    #C3EAF9,
    $--ovide-mat-primary-300:    #AAE2F6,
    $--ovide-mat-primary-400:    #98DBF4,
    $--ovide-mat-primary-500:    #86D5F2,
    $--ovide-mat-primary-600:    #7ED0F0,
    $--ovide-mat-primary-700:    #73CAEE,
    $--ovide-mat-primary-800:    #69C4EC,
    $--ovide-mat-primary-900:    #56BAE8,
    $--ovide-mat-primary-A100:   #C3EAF9,
    $--ovide-mat-primary-A200:   #C3EAF9,
    $--ovide-mat-primary-A400:   #98DBF4,
    $--ovide-mat-primary-A700:   #73CAEE,
    $--ovide-mat-primary-contrast-50:    rgba(black, 0.87),
    $--ovide-mat-primary-contrast-100:   rgba(black, 0.87),
    $--ovide-mat-primary-contrast-200:   rgba(black, 0.87),
    $--ovide-mat-primary-contrast-300:   rgba(black, 0.87),
    $--ovide-mat-primary-contrast-400:   rgba(black, 0.87),
    $--ovide-mat-primary-contrast-500:   rgba(black, 0.87),
    $--ovide-mat-primary-contrast-600:   rgba(black, 0.87),
    $--ovide-mat-primary-contrast-700:   rgba(black, 0.87),
    $--ovide-mat-primary-contrast-800:   rgba(black, 0.87),
    $--ovide-mat-primary-contrast-900:   rgba(black, 0.87),
    $--ovide-mat-primary-contrast-A100:  rgba(black, 0.87),
    $--ovide-mat-primary-contrast-A200:  rgba(black, 0.87),
    $--ovide-mat-primary-contrast-A400:  rgba(black, 0.87),
    $--ovide-mat-primary-contrast-A700:  rgba(black, 0.87),
    $--ovide-mat-accent-50:     hsl(0, 0%, 60%),
    $--ovide-mat-accent-100:    hsl(0, 0%, 55%),
    $--ovide-mat-accent-200:    hsl(0, 0%, 50%),
    $--ovide-mat-accent-300:    hsl(0, 0%, 45%),
    $--ovide-mat-accent-400:    hsl(0, 0%, 40%),
    $--ovide-mat-accent-500:    hsl(0, 0%, 35%),
    $--ovide-mat-accent-600:    hsl(0, 0%, 30%),
    $--ovide-mat-accent-700:    hsl(0, 0%, 25%),
    $--ovide-mat-accent-800:    hsl(0, 0%, 20%),
    $--ovide-mat-accent-900:    hsl(0, 0%, 15%),
    $--ovide-mat-accent-A100:   hsl(0, 0%, 55%),
    $--ovide-mat-accent-A200:   hsl(0, 0%, 50%),
    $--ovide-mat-accent-A400:   hsl(0, 0%, 40%),
    $--ovide-mat-accent-A700:   hsl(0, 0%, 25%),
    $--ovide-mat-accent-contrast-50:    rgba(black, 0.87),
    $--ovide-mat-accent-contrast-100:   rgba(black, 0.87),
    $--ovide-mat-accent-contrast-200:   rgba(black, 0.87),
    $--ovide-mat-accent-contrast-300:   white,
    $--ovide-mat-accent-contrast-400:   white,
    $--ovide-mat-accent-contrast-500:   white,
    $--ovide-mat-accent-contrast-600:   white,
    $--ovide-mat-accent-contrast-700:   white,
    $--ovide-mat-accent-contrast-800:   white,
    $--ovide-mat-accent-contrast-900:   white,
    $--ovide-mat-accent-contrast-A100:  rgba(black, 0.87),
    $--ovide-mat-accent-contrast-A200:  rgba(black, 0.87),
    $--ovide-mat-accent-contrast-A400:  white,
    $--ovide-mat-accent-contrast-A700:  white,
    $--ovide-mat-foreground-base:              white,
    $--ovide-mat-foreground-divider:           rgba(white, 0.12),
    $--ovide-mat-foreground-dividers:          rgba(white, 0.12),
    $--ovide-mat-foreground-disabled:          rgba(white, 0.5),
    $--ovide-mat-foreground-disabled-button:   rgba(white, 0.3),
    $--ovide-mat-foreground-disabled-text:     rgba(white, 0.5),
    $--ovide-mat-foreground-hint-text:         rgba(white, 0.5),
    $--ovide-mat-foreground-secondary-text:    rgba(white, 0.7),
    $--ovide-mat-foreground-icon:              white,
    $--ovide-mat-foreground-icons:             white,
    $--ovide-mat-foreground-text:              white,
    $--ovide-mat-foreground-slider-min:        white,
    $--ovide-mat-foreground-slider-off:        rgba(white, 0.3),
    $--ovide-mat-foreground-slider-off-active: rgba(white, 0.3),
    $--ovide-mat-background-status-bar:                 black,
    $--ovide-mat-background-app-bar:                    #212121,
    $--ovide-mat-background-background:                 linear-gradient(to top left, hsl(0, 0%, 15%), hsl(0, 0%, 30%)),
    $--ovide-mat-background-hover:                      rgba(white, 0.04),
    $--ovide-mat-background-card:                       #424242,
    $--ovide-mat-background-dialog:                     #424242,
    $--ovide-mat-background-disabled-button:            rgba(white, 0.12),
    $--ovide-mat-background-raised-button:              #424242,
    $--ovide-mat-background-focused-button:             rgba(white, 0.12),
    $--ovide-mat-background-selected-button:            #212121,
    $--ovide-mat-background-selected-disabled-button:   #424242,
    $--ovide-mat-background-disabled-button-toggle:     black,
    $--ovide-mat-background-unselected-chip:            #616161,
    $--ovide-mat-background-disabled-list-option:       black,
    $--ovide-mat-background-tooltip:                    #616161,
);

$default-theme: $dark-theme;

:root.light-theme {
    @include spread-map($light-theme)
}

:root.dark-theme {
    @include spread-map($dark-theme)
}
