@import '~@angular/material/theming';
@import 'mixins';
@import 'variables';

$light-theme: (
    $--attribute-type-string: #79dbef,
    $--attribute-type-number: #a6d07b,
    $--attribute-type-boolean: #cfa58a,
    $--attribute-type-collection: red,
    $--attribute-type-object: red,
    $--ovide-mat-is-dark:    false,
    $--ovide-mat-primary-50:     #fce4ec,
    $--ovide-mat-primary-100:    #f8bbd0,
    $--ovide-mat-primary-200:    #f48fb1,
    $--ovide-mat-primary-300:    #f06292,
    $--ovide-mat-primary-400:    #ec407a,
    $--ovide-mat-primary-500:    #e91e63,
    $--ovide-mat-primary-600:    #d81b60,
    $--ovide-mat-primary-700:    #c2185b,
    $--ovide-mat-primary-800:    #ad1457,
    $--ovide-mat-primary-900:    #880e4f,
    $--ovide-mat-primary-A100:   #ff80ab,
    $--ovide-mat-primary-A200:   #ff4081,
    $--ovide-mat-primary-A400:   #f50057,
    $--ovide-mat-primary-A700:   #c51162,
    $--ovide-mat-primary-contrast-50:    $dark-primary-text,
    $--ovide-mat-primary-contrast-100:   $dark-primary-text,  
    $--ovide-mat-primary-contrast-200:   $dark-primary-text,
    $--ovide-mat-primary-contrast-300:   $dark-primary-text,
    $--ovide-mat-primary-contrast-400:   $dark-primary-text,
    $--ovide-mat-primary-contrast-500:   $dark-primary-text,
    $--ovide-mat-primary-contrast-600:   $dark-primary-text,
    $--ovide-mat-primary-contrast-700:   $dark-primary-text,
    $--ovide-mat-primary-contrast-800:   $dark-primary-text,
    $--ovide-mat-primary-contrast-900:   $dark-primary-text,
    $--ovide-mat-primary-contrast-A100:  $dark-primary-text,
    $--ovide-mat-primary-contrast-A200:  $dark-primary-text,
    $--ovide-mat-primary-contrast-A400:  $dark-primary-text,
    $--ovide-mat-primary-contrast-A700:  $dark-primary-text,
    $--ovide-mat-accent-50:     #e9fafe,
    $--ovide-mat-accent-100:    #c9f3fc,
    $--ovide-mat-accent-200:    #a5ebfa,
    $--ovide-mat-accent-300:    #81e2f7,
    $--ovide-mat-accent-400:    #66dcf6,
    $--ovide-mat-accent-500:    #4bd6f4,
    $--ovide-mat-accent-600:    #44d1f3,
    $--ovide-mat-accent-700:    #3bccf1,
    $--ovide-mat-accent-800:    #33c6ef,
    $--ovide-mat-accent-900:    #23bcec,
    $--ovide-mat-accent-A100:   #ffffff,
    $--ovide-mat-accent-A200:   #f2fcff,
    $--ovide-mat-accent-A400:   #bfefff,
    $--ovide-mat-accent-A700:   #a6e8ff, 
    $--ovide-mat-accent-contrast-50:    $dark-primary-text,
    $--ovide-mat-accent-contrast-100:   $dark-primary-text,  
    $--ovide-mat-accent-contrast-200:   $dark-primary-text,
    $--ovide-mat-accent-contrast-300:   $dark-primary-text,
    $--ovide-mat-accent-contrast-400:   $dark-primary-text,
    $--ovide-mat-accent-contrast-500:   $dark-primary-text,
    $--ovide-mat-accent-contrast-600:   $dark-primary-text,
    $--ovide-mat-accent-contrast-700:   $dark-primary-text,
    $--ovide-mat-accent-contrast-800:   $dark-primary-text,
    $--ovide-mat-accent-contrast-900:   $dark-primary-text,
    $--ovide-mat-accent-contrast-A100:  $dark-primary-text,
    $--ovide-mat-accent-contrast-A200:  $dark-primary-text,
    $--ovide-mat-accent-contrast-A400:  $dark-primary-text,
    $--ovide-mat-accent-contrast-A700:  $dark-primary-text,
    $--ovide-mat-foreground-base:             black,
    $--ovide-mat-foreground-divider:          $dark-dividers,
    $--ovide-mat-foreground-dividers:         $dark-dividers,
    $--ovide-mat-foreground-disabled:         $dark-disabled-text,
    $--ovide-mat-foreground-disabled-button:  rgba(black, 0.26),
    $--ovide-mat-foreground-disabled-text:    $dark-disabled-text,
    $--ovide-mat-foreground-hint-text:        $dark-disabled-text,
    $--ovide-mat-foreground-secondary-text:   $dark-secondary-text,
    $--ovide-mat-foreground-icon:             rgba(black, 0.54),
    $--ovide-mat-foreground-icons:            rgba(black, 0.54),
    $--ovide-mat-foreground-text:             rgba(black, 0.87),
    $--ovide-mat-foreground-slider-min:       rgba(black, 0.87),
    $--ovide-mat-foreground-slider-off:       rgba(black, 0.26),
    $--ovide-mat-foreground-slider-off-active:rgba(black, 0.38),
    $--ovide-mat-background-status-bar:                #BFBFBF,
    $--ovide-mat-background-app-bar:                   #BFBFBF,
    $--ovide-mat-background-background:                linear-gradient(to top left, #C4C4C4, #E0E0E0),
    $--ovide-mat-background-hover:                     rgba(black, 0.04),
    $--ovide-mat-background-card:                      white,
    $--ovide-mat-background-dialog:                    white,
    $--ovide-mat-background-disabled-button:           rgba(black, 0.12),
    $--ovide-mat-background-raised-button:             white,
    $--ovide-mat-background-focused-button:            $dark-focused,
    $--ovide-mat-background-selected-button:           map_get($mat-grey, 300),
    $--ovide-mat-background-selected-disabled-button:  map_get($mat-grey, 400),
    $--ovide-mat-background-disabled-button-toggle:    map_get($mat-grey, 200),
    $--ovide-mat-background-unselected-chip:           map_get($mat-grey, 300),
    $--ovide-mat-background-disabled-list-option:      map_get($mat-grey, 200),
    $--ovide-mat-background-tooltip:                   map_get($mat-grey, 700),
);


$_86D5F2: #86D5F2;

$_bcbcbc: #BCBCBC;
$_797979: #797979;
$_595959: #595959;
$_494949: #494949; // background only ?
$_424242: #424242;
$_2a2a2a: #2A2A2A;

$dark-theme: (
    $--attribute-type-string: red,
    $--attribute-type-number: red,
    $--attribute-type-boolean: red,
    $--attribute-type-collection: red,
    $--attribute-type-object: red,
    $--ovide-mat-is-dark: true,
    $--ovide-mat-primary-50:     #F0FAFD,
    $--ovide-mat-primary-100:    #DBF2FB,
    $--ovide-mat-primary-200:    #C3EAF9,
    $--ovide-mat-primary-300:    #AAE2F6,
    $--ovide-mat-primary-400:    #98DBF4,
    $--ovide-mat-primary-500:    #86D5F2,
    $--ovide-mat-primary-600:    #7ED0F0,
    $--ovide-mat-primary-700:    #73CAEE,
    $--ovide-mat-primary-800:    #69C4EC,
    $--ovide-mat-primary-900:    #56BAE8,
    $--ovide-mat-primary-A100:   #C3EAF9,
    $--ovide-mat-primary-A200:   #C3EAF9,
    $--ovide-mat-primary-A400:   #98DBF4,
    $--ovide-mat-primary-A700:   #73CAEE, 
    $--ovide-mat-primary-contrast-50:    $dark-primary-text,
    $--ovide-mat-primary-contrast-100:   $dark-primary-text,  
    $--ovide-mat-primary-contrast-200:   $dark-primary-text,
    $--ovide-mat-primary-contrast-300:   $dark-primary-text,
    $--ovide-mat-primary-contrast-400:   $dark-primary-text,
    $--ovide-mat-primary-contrast-500:   $dark-primary-text,
    $--ovide-mat-primary-contrast-600:   $dark-primary-text,
    $--ovide-mat-primary-contrast-700:   $dark-primary-text,
    $--ovide-mat-primary-contrast-800:   $dark-primary-text,
    $--ovide-mat-primary-contrast-900:   $dark-primary-text,
    $--ovide-mat-primary-contrast-A100:  $dark-primary-text,
    $--ovide-mat-primary-contrast-A200:  $dark-primary-text,
    $--ovide-mat-primary-contrast-A400:  $dark-primary-text,
    $--ovide-mat-primary-contrast-A700:  $dark-primary-text,
    $--ovide-mat-accent-50:     #F0FAFD,
    $--ovide-mat-accent-100:    #DBF2FB,
    $--ovide-mat-accent-200:    #C3EAF9,
    $--ovide-mat-accent-300:    #AAE2F6,
    $--ovide-mat-accent-400:    #98DBF4,
    $--ovide-mat-accent-500:    #86D5F2,
    $--ovide-mat-accent-600:    #7ED0F0,
    $--ovide-mat-accent-700:    #73CAEE,
    $--ovide-mat-accent-800:    #69C4EC,
    $--ovide-mat-accent-900:    #56BAE8,
    $--ovide-mat-accent-A100:   #C3EAF9,
    $--ovide-mat-accent-A200:   #C3EAF9,
    $--ovide-mat-accent-A400:   #98DBF4,
    $--ovide-mat-accent-A700:   #73CAEE, 
    $--ovide-mat-accent-contrast-50:    $dark-primary-text,
    $--ovide-mat-accent-contrast-100:   $dark-primary-text,  
    $--ovide-mat-accent-contrast-200:   $dark-primary-text,
    $--ovide-mat-accent-contrast-300:   $dark-primary-text,
    $--ovide-mat-accent-contrast-400:   $dark-primary-text,
    $--ovide-mat-accent-contrast-500:   $dark-primary-text,
    $--ovide-mat-accent-contrast-600:   $dark-primary-text,
    $--ovide-mat-accent-contrast-700:   $dark-primary-text,
    $--ovide-mat-accent-contrast-800:   $dark-primary-text,
    $--ovide-mat-accent-contrast-900:   $dark-primary-text,
    $--ovide-mat-accent-contrast-A100:  $dark-primary-text,
    $--ovide-mat-accent-contrast-A200:  $dark-primary-text,
    $--ovide-mat-accent-contrast-A400:  $dark-primary-text,
    $--ovide-mat-accent-contrast-A700:  $dark-primary-text,
    $--ovide-mat-foreground-base:              white,
    $--ovide-mat-foreground-divider:           $light-dividers,
    $--ovide-mat-foreground-dividers:          $light-dividers,
    $--ovide-mat-foreground-disabled:          $light-disabled-text,
    $--ovide-mat-foreground-disabled-button:   rgba(white, 0.3),
    $--ovide-mat-foreground-disabled-text:     $light-disabled-text,
    $--ovide-mat-foreground-hint-text:         $light-disabled-text,
    $--ovide-mat-foreground-secondary-text:    $light-secondary-text,
    $--ovide-mat-foreground-icon:              white,
    $--ovide-mat-foreground-icons:             white,
    $--ovide-mat-foreground-text:              white,
    $--ovide-mat-foreground-slider-min:        white,
    $--ovide-mat-foreground-slider-off:        rgba(white, 0.3),
    $--ovide-mat-foreground-slider-off-active: rgba(white, 0.3),
    $--ovide-mat-background-status-bar:                 #2A2A2A,
    $--ovide-mat-background-app-bar:                    #2A2A2A,
    $--ovide-mat-background-background:                 linear-gradient(to top left, #2A2A2A, #494949),
    $--ovide-mat-background-hover:                      rgba(white, 0.04),
    $--ovide-mat-background-card:                       #424242,
    $--ovide-mat-background-dialog:                     #424242,
    $--ovide-mat-background-disabled-button:            rgba(white, 0.12),
    $--ovide-mat-background-raised-button:              #424242,
    $--ovide-mat-background-focused-button:             $light-focused,
    $--ovide-mat-background-selected-button:            #2A2A2A,
    $--ovide-mat-background-selected-disabled-button:   #424242,
    $--ovide-mat-background-disabled-button-toggle:     #2A2A2A,
    $--ovide-mat-background-unselected-chip:            #595959,
    $--ovide-mat-background-disabled-list-option:       #2A2A2A,
    $--ovide-mat-background-tooltip:                    #595959,
);

$default-theme: $dark-theme;

:root.light-theme {
    @include spread-map($light-theme)
}

:root.dark-theme {
    @include spread-map($dark-theme)
}
