
<div class="ruleset-editor">
    <div class="editor mat-elevation-z8">
        <ngx-monaco-editor [options]="editorOptions" [(ngModel)]="code" (onInit)="monacoInit($event)"></ngx-monaco-editor>
    </div>
    <ovide-schema-editor [schemaId]="(ruleset$ | async)?.schemaId" class="schema"></ovide-schema-editor>
    <div class="variables">
        <mat-chip-list>
            <mat-chip>underaged</mat-chip>
        </mat-chip-list>
    </div>
    <div class="actions">
        <button mat-flat-button color="primary">Save</button>
        <button mat-flat-button color="primary" [routerLink]="['../test']" >Test</button>
    </div>
</div>
