
<div class="ruleset-editor">
    <mat-spinner *ngIf="!editorInitDone" class="editor-loading"></mat-spinner>
    <div class="editor mat-elevation-z8" [@editorAnimation]>
        <ngx-monaco-editor [options]="editorOptions" [formControl]="editorText" (onInit)="monacoInit($event)"></ngx-monaco-editor>
    </div>
    <ovide-schema-editor [schemaId]="ruleset?.schemaId" class="schema"></ovide-schema-editor>
    <div class="variables">
        <mat-chip-list *ngIf="variables; else loading" [@variableAnimation]>
            <mat-chip
                *ngFor="let variable of variables"
                [class.outline]="themeService.darkThemeActive$ | async"
                class="variable">
                {{variable.name}}
            </mat-chip>
        </mat-chip-list>
        <ng-template #loading>
            <div class="loader-wrapper">
                <mat-progress-bar mode="indeterminate" class="loader"></mat-progress-bar>
            </div>
        </ng-template>
    </div>
    <div class="errors" *ngIf="editorErrors" [@variableAnimation]>
        <div *ngFor="let error of editorErrors" class="error-message">{{error.message}}</div>
    </div>
    <div class="actions">
        <button mat-flat-button color="primary" [routerLink]="['../test']" >Test</button>
    </div>
</div>
