@import 'themes';

.ruleset-editor {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 0.3fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 0.5fr;
    grid-template-areas:
        "name name name"
        "editor errors schema"
        "editor errors variables"
        "actions actions actions"
    ;
    justify-items: center;
    align-items: center;
}

.editor {
    grid-area: editor;
    width: 100%;
    height: 100%;

    ngx-monaco-editor {
        height: 100%;
        font-family: 'Source Code Pro', sans-serif;
    }
}

.editor-loading {
    grid-area: editor;
}

.errors {
    grid-area: errors;
    justify-self: start;
    align-self: start;
    padding: 0 10px;

    .error-message {
        color: theme-var($--ovide-editor-error);
        font-weight: bold;
        line-height: 1.3em;
        font-size: 0.9em;
        letter-spacing: 0.15em;
        text-shadow: 0 0 2px theme-var($--ovide-editor-error);
        margin-bottom: 15px;
    }
}

.schema {
    grid-area: schema;
    padding: 0 50px 50px 50px;
    justify-self: start;
    align-self: start;
}

.variables {
    box-sizing: border-box;
    margin: 0 50px 50px;
    padding-top: 50px;
    border-top: 1px dashed theme-var($--variable-separator);
    grid-area: variables;
    justify-self: start;
    align-self: start;

    .variable {
        background-color: theme-var($--variable-color);
        border: 1px solid theme-var($--variable-color);
        font-weight: bold;
        letter-spacing: 0.15em;

        &.outline {
            background-color: transparent;
            color: theme-var($--variable-color);
        }
    }
}

.actions {
    grid-area: actions;
    display: flex;
    justify-self: start;

    > button + button {
        margin-left: 20px;
    }
}

.loader-wrapper {
    width: 300px;

    .loader {
        margin-top: 15px;
        width: 300px;
    }
}

.name {
    grid-area: name;
    display: flex;
    flex-direction: column;
    justify-self: start;
    align-self: start;
    width: 100%;

    .inline-input {
        width: 100%;
        margin-bottom: -1.3em;

        &.large {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: -.75em;
        }

        .inline-label, .mat-placeholder-required {
            opacity: 0;
            transition: opacity 0.1s;
        }

        &.mat-focused .inline-label {
            opacity: 1;
        }

        &::before {
            opacity: 0;
            content: 'edit';
            position: absolute;
            left: -24px;
            top: 21.5px;
            font-family: 'Material Icons', serif;
            font-weight: normal;
            font-style: normal;
            font-size: 16px;
            line-height: 1;
            letter-spacing: normal;
            text-transform: none;
            white-space: nowrap;
            word-wrap: normal;
            direction: ltr;
            -webkit-font-feature-settings: 'liga';
            -webkit-font-smoothing: antialiased;
            transition: opacity 0.2s;
        }

        &.ng-invalid::before {
            color: theme-var($--ovide-editor-error);
            opacity: 1;
        }
        &.ng-invalid::after {
            content: 'Name is required';
            position: absolute;
            bottom: 20px;
            font-size: 12px;
            font-weight: normal;
            color: theme-var($--ovide-editor-error);
            opacity: 1;
        }

        &.large::before {
            font-size: 20px;
            top: 26.875px;
        }

        &:hover::before, &.mat-focused::before {
            opacity: 0.5;
        }
    }
}
