.ruleset-editor {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 0.5fr;
    grid-template-areas:
        "editor schema"
        "editor variables"
        "actions actions"
    ;
    justify-items: center;
    align-items: center;
}

.editor {
    grid-area: editor;
    width: 100%;
    height: 100%;
    > textarea {
        box-sizing: border-box;
        width: inherit;
        height: inherit;
        resize: none;
        font-family: 'Source Code Pro', sans-serif;
    }
}

.schema {
    grid-area: schema;
    padding: 0 50px;
    justify-self: start;
    align-self: start;
}

.variables {
    grid-area: variables;
}

.actions {
    grid-area: actions;
    display: flex;
    justify-self: start;
    > button + button {
        margin-left: 20px;
    }
}
