@import 'themes';

.attribute-chiplist {
    width: 100%;
}

.attribute-type {
    &.TEXT {
        background-color: theme-var($--attribute-type-string);
   } 
    &.NUMBER {
        background-color: theme-var($--attribute-type-number);
    }
    &.BOOLEAN {
        background-color: theme-var($--attribute-type-boolean);
    }
    &.LIST {
        background-color: theme-var($--attribute-type-collection);
    }
    &.OBJECT {
        background-color: theme-var($--attribute-type-object);
    }
}