<mat-chip-list class="attribute-chiplist">
    <mat-chip
        *ngFor="let attribute of attributes" 
        class="attribute-type"
        [ngClass]="attribute.attributeType"
        [removable]="true"
        (removed)="remove(attribute)"
        (click)="edit(attribute)"
    >
        {{attribute.name}}
        <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
    <button mat-mini-fab aria-label="Add attribute" (click)="add()">
        <mat-icon>add</mat-icon>
    </button>        
</mat-chip-list>
