<h1>test suite</h1>
<div class="ruleset-testsuite">
    <div class="editor mat-elevation-z8" [@editorAnimation]>
        <ngx-monaco-editor class="ovide-editor" [options]="editorOptions" [formControl]="editorText" (onInit)="monacoInit($event)"></ngx-monaco-editor>
    </div>

    <div class="graphs" [@scaleAnimation]>
        <ovide-gauge-chart chartTitle="coverage" [value]="65.5"></ovide-gauge-chart>
        <ovide-gauge-chart chartTitle="succeeded" strict="true" [value]="80"></ovide-gauge-chart>
    </div>

    <div class="data">
        <table mat-table class="ovide-table" [dataSource]="tableDataSource" [@scaleAnimation]>

            <ng-container *ngFor="let attribute of attributes" matColumnDef="{{ attribute.name }}">
                <th mat-header-cell [class.text-right]="attribute.attributeType === 'NUMBER'" *matHeaderCellDef>
                    {{ attribute.name }}
                </th>
                <td mat-cell [class.text-right]="attribute.attributeType === 'NUMBER'" *matCellDef="let element">
                    {{ attribute.attributeType === 'BOOLEAN' ? (element[attribute.name] ? 'yes' : 'no') : element[attribute.name] }}
                </td>
            </ng-container>

            <ng-container matColumnDef="expected">
                <th mat-header-cell *matHeaderCellDef> Message expected?</th>
                <td mat-cell *matCellDef="let element">
                    <mat-slide-toggle [color]="'primary'" [checked]="element.expected"></mat-slide-toggle>
                </td>
            </ng-container>

            <ng-container matColumnDef="passed">
                <th mat-header-cell *matHeaderCellDef> Passed</th>
                <td mat-cell [class.failed]="!element.passed" [class.passed]="element.passed" *matCellDef="let element">
                    <mat-icon>{{element.passed ? 'check' : 'close' }}</mat-icon>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="tableDisplayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: tableDisplayedColumns;"></tr>
        </table>
    </div>
</div>
<mat-card id="wip">
    <mat-icon>warning</mat-icon>
    <p>&nbsp;This page is still being worked on and does not provide any actual functionality.</p>
</mat-card>
